:root {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 16px;
    --green-color: #6c933e;
    --white-color: #FFF;
    --grey-color: #4a4a4a;
    --lightgreen-color: #d9e4cc;
}