.header {
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.header_icon {
    object-fit: contain;
    padding: 0.8rem;
}


